body {

	background-image: url("kepek/hatter.jpg");
	font-family: "Comic Sans MS", cursive, sans-serif;
}

@keyframes szinvalto {
  0%   {background-color: #ffb3ba;}
  20%   {background-color: #ffd2b3;}
  40%  {background-color: #fff8b3;}
  60%  {background-color: #baffb3;}
  80%  {background-color: #bae1ff;}
  100%  {background-color: #ffb3ba;}
}

i {
	margin: 1% 1% 0% 0%;
	padding-top: 10px;
	width: 50px;
	height: 50px;

}

i:hover {
	animation-name: szinvalto;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	border-radius: 50%;
}

.card {
	margin: 0 auto; /* Added */
	float: none; /* Added */
	margin-bottom: 10px; /* Added */
}

#cim {
	text-align: center;
	color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

#cimhatter {
	background-color: #92dced;
	width: 800px;
	border: 4px dashed black;
	border-radius: 40% 0%;
	padding: 1% 1% 1% 1%;
	margin: 0 auto; /* Added */
	float: none; /* Added */
	margin-bottom: 10px; /* Added */
	margin-top: 10px; /* Added */
	text-align: center;
}

#labcimhatter {
	background-color: lightpink;
	width: 800px;
	border: 4px dashed black;
	border-radius: 0% 40%;
	padding: 1% 1% 1% 1%;
	margin: 0 auto; /* Added */
	float: none; /* Added */
	margin-bottom: 10px; /* Added */
	margin-top: 10px; /* Added */
}

.kartya {
	border: 5px groove gray;
}

.idezet-doboz {
	border-top: 5px groove gray;
}